@tailwind base;
@tailwind components;
@tailwind utilities;

/* ul{
      list-style: circle;
} */

:root {
  --main-color: #e84596;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

::-webkit-scrollbar {
  width: 10px;
height: 10px;
}

/* لون الخلفية العمودية */
::-webkit-scrollbar-track {

  background-color: #211407;
}

/* لون المقبض */
::-webkit-scrollbar-thumb {

  background-color: var(--main-color);
  border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
  cursor: pointer;
  transform: scale(1.2);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {

  display: flex;
  align-items: center;
  justify-content: center;

}

.main-title h2 {

  text-transform: uppercase;
  margin: 30px auto 15px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title h2::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.main-title h2:hover::before {
  animation: .5s go-right linear forwards;
}

@keyframes go-right {

  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }

}

.main-title h2::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.main-title h2:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.main-title h2:hover::after {
  animation: .5s go-left linear forwards;
}

@keyframes go-left {

  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@media (max-width:613px) {
  .main-title h2 {
    font-size: 14px;
  }
}

/* sec-1 */
.sec-1 {

  gap: 10px; 
  padding-top: 28px;
}

/* .image-container img{
  border-radius: 20px;
  height: 100%;
    max-width: 100%;
    animation: slideInFromTop 1s ease-in-out;
} */

.image-container img {
  border-radius: 20px;
  height: 100%;
  max-height: 85vh !important;
  max-width: 100%;
  animation: slideInFromTop 1s ease-in-out;
}

    @keyframes slideInFromTop {
      0% {
        transform: translateX(-300px);
  
        opacity: 0;
  
      }
  
      100% {
        transform: translateX(0);
  
        opacity: 1;
  
      }
    }



.div1-sec-1{
  display: flex;
gap: 10px;
height: 85vh;
justify-content: space-evenly;
}
.small-images-container {
  display: flex;
    gap: 10px;
   
    flex-direction: column;
    overflow-y: auto;
    animation: slideInFromLeft 1s ease-in-out;
}

        @keyframes slideInFromLeft {
          0% {
            transform: translateX(70px);
    
            opacity: 0;
    
          }
    
          100% {
            transform: translateX(0);
    
            opacity: 1;
    
          }
        }

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}
/* 
.image-container {
  border-radius: 15px;
  background-color: #ebebeb1a;
  width: 400px;
  height: 400px;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: .3s ease-in-out;
  justify-content: center;
  padding: 10px;
} */
.div1-sec-1{
  flex-basis: 40%;
}
.div2-sec-1{
  flex-basis: 60%;
}
.product-name-1 {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8459652;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
      font-weight: bold;
}
.product-name-1 h1{
  font-size: 30px;
  padding-bottom: 6px;

}

.div2-sec-1 h3 , .div2-sec4 h2{
font-size: 43px;
  font-weight: bold;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(232, 69, 144, 1) 62%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.prices{
  display: flex;
  gap: 22px;
  padding: 14px 0;
      align-items: center;
      justify-content: space-between;
}
.prices div h4{
  font-weight: bold;
  font-size: 20px;
}
.prices div h5{
 text-decoration: line-through;
color: #777;
}
.EXTRA-prices h4 {
  padding: 6px;
  background-color: rgb(33 37 41);
  color: white;
  border-radius: 7px;
}
.div2-sec-1 form div {
display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 20px;
}

.div2-sec-1 form div button{

  padding: 15px 52px;
    background-color: var(--main-color);
    
    margin: 0 auto;
    border-radius: 10px;
    transition: .5s;
    animation: slideInFromTopToBottom 1s ease-in-out;
}

    @keyframes slideInFromTopToBottom {
      0% {
        transform: translateY(-40px);
  
        opacity: 0;
  
      }
  
      100% {
        transform: translateY(0);
  
        opacity: 1;
  
      }
    }

.div2-sec-1 form div button:hover {
  box-shadow: 0 0 10px #eb0678;
}

#color option:hover {
  background-color: inherit;
}

.sec-2 div ul li {
    padding: 11px 0;
animation: slideInFromTop 1s ease-in-out;

}
.div2-description div h2{
color: #ff0000;
  font-weight: bold;
  padding-left: 6px;
}
.div2-description div ul li {
  padding: 2px;
      color: #464147;
}
.div2-description div:hover::before {
  width: 100%;
  height: 100%;

}

.div2-description div::before {
    content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background-color: #ededed;
      transition: .4s;
      border-radius: 10px;
      z-index: -1;
}


.div2-description div {
background-color: #f6f5f5;
  gap: 9px;
  margin-bottom: 22px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 30px;
  border: solid 4px white;
  position: relative;
  border-radius: 10px;
  transition: .4s;
  z-index: 1;
 flex-direction: column;
}

.main-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 113%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.sec-2::before {
  content: "";
    position: absolute;
    left: 0;
 
    width: 100%;
      height: 105%;
    background-color: #dadadf;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.sec-3 div h2{
font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}
.sec-3 div p{
font-size: 20px;
}
.div2-sec-3 div{
display: flex;
flex-direction: column;
margin: 20px 0 ;
/* test */
animation: slideInFromLeft 1s ease-in-out;
}
.sec-3{
  padding-top: 60px !important;
  padding: 0 20px;
  justify-content: space-between;
}
.div2-sec-3 div div h3 {
  font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.div2-sec-3 div div p {
  color: #615d5d;
    font-size: 17px;
}
.sec-3 video{
  height: 100vh;
  width: 100%;
}

.whatsapp-button {
position: fixed;
  bottom: 33px;
  right: 14px;
  z-index: 3000;
}

.whatsapp-button img {
  width: 60px;
  /* تحديد عرض الصورة حسب الحاجة */
  height: auto;
  /* الارتفاع سيتم تعديله تلقائيًا بناءً على العرض */
  border-radius: 10px;
}
.sec-3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
 
  height: 109%;
  background-color: #c3c3ffb3;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.sec-6::before {
  content: "";
    position: absolute;
    left: 0;
    width: 100%;
   
    height: 92%;
    background-color: #bbbbcdb3;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.sec-7 {
position: fixed;
  bottom: 0;
  background-color: #0000003b;
  color: white;
  width: 400px;

  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1000;
}

.sec-7 a{
  padding: 10px 20px !important;
    background-color: var(--main-color);
    border-radius: 11px;
  }
html {
  scroll-behavior: smooth;
}

@media (max-width:768px) {
  .image-container-sec4 {
    
      max-height: 50vh ;
     
    }

  .sec-8 form {
      min-width: 80% !important;
     
    }


.product-name-1 h1 {
    font-size: 22px;
  
  }


.div2-sec-1 h3 ,
.div2-sec4 h2{
  font-size: 19px;

}

.prices div h4 {

  font-size: 18px;
}

.EXTRA-prices h4 {

  font-size: 15px !important;
}

.prices {

  padding: 10px 0;

}

.div2-sec-1 form div {

  padding: 9px 0;
  font-size: 20px;
}

.main-container::before {

    height: 155%;

}

.sec-2::before {
  height: 156%;
}

.sec-2 div ul li {

  font-size: 18px;
}

.sec-3 div p {
  font-size: 18px;
}

.div2-sec-3 div {

  margin: 10px 0;
}

.div2-sec-3 {
  gap: 5px !important;
}

.sec-3::before {
    height: 213%;
}

.sec-3 video {
  height: 100vh;
}

.div2-sec-3 div div p {

  font-size: 18px;
}

.div2-sec-3 div div h3 {
  font-size: 21px;

}

.sec-6::before {
  height: 121%;
}

.whatsapp-button img {
  width: 45px;

}

.div2-sec4 p {
  font-size: 18px;

}

}




@media (max-width:480px) {

  .sec-4::before {
    
      height: 137% !important;
     
    }

  .div2-sec4 p {
      font-size: 16px;
 
    }
.sec-7 {
  width: 300px;
}
  .sec-8 {
      
      padding: 20px 0 102px;
    }
    
.sec-8::before {
   
    height: 86% !important;
   
  }

.sec-8 form {
    min-width: 90% !important;
   
  }

  .div1-sec-1 {
    
      flex-direction: column;
     
    }

             .image-container {
               width: 100% !important;
               height: 80vh;
               display: flex;
               align-items: center;
               justify-content: center;
             }
         .small-images-container {
          
           flex-direction: row;
           overflow-x: auto;
           height: 19%;
          
         }

                 .div1-sec-1 {
                 
                   height: fit-content;
                   
                 }
.image-container img {
 
  min-height: 80vh !important;
  max-width: 100%;
 
}

  .product-name-1 h1 {
      font-size: 16px;
     
    }
.div2-sec-1 h3 ,
.div2-sec4 h2 {
  font-size: 16px;
  
}
.prices div h4 {

  font-size: 15px;
}
.EXTRA-prices h4 {
 
  font-size: 10px !important;
}

.prices {
 
  padding: 8px 0;

}
.div2-sec-1 form div {
 
  padding: 6px 0;
  font-size: 17px;
}

.main-container::before {

  height: 151%;
 
}

.sec-2::before {
height: 164%;
}

.sec-2 div ul li {

  font-size: 15px;
}

.sec-3 div p {
  font-size: 15px;
}

.div2-sec-3 div {
 
  margin: 8px 0;
}

.div2-sec-3{
  gap: 0px !important;
}

.sec-3::before {
  height: 207%;
}

.sec-3 video {
  height: 90vh;
}
.div2-sec-3 div div p {

  font-size: 15px;
}

.div2-sec-3 div div h3 {
  font-size: 18px;

}

.sec-6::before {
      height: 121%;
}

.whatsapp-button img {
  width: 45px;
  
}

.image-container-sec4 {
  
  max-height: 50vh;
}

}

.sec-7 a:hover{
  box-shadow: 0 0 10px #eb0678;
  background-color:#eb0678 ;
}

.go-buy-button{
  width: 100%;
    text-align: center;
    padding-top: 20px;
}
.go-buy-button a , .success button{
padding: 13px 52px;
  background-color: var(--main-color);
  border-radius: 11px;
}
.go-buy-button a:hover ,
.success button:hover{
  box-shadow: 0 0 10px #eb0678;
  background-color: #eb0678;
}



.div3-sec1 ,.div2-sec4 p{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right, #e84596, #000000, #660056);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.image-container {
  width: 80%;
}
.div2-sec2-image-container{
  width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.div2-sec2-image-container img{
max-height: 71vh;
border-radius: 20px;
}
.div1-sec2 div ul li {
display: flex;
}
.div1-sec2 div ul li svg#Layer_1 {
  width: 40px;
  height: 25px;
  font-size: 29px;
}


.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
  flex: 1;
}



@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .image {
    flex-basis: 100%;

  }

}
.sec-8 form {
min-width: 60%;
  margin: 0 auto;
  background-color: #ffffff4f;
  padding: 20px;
  border-radius: 5px;

  box-shadow: 0 0px 34px var(--main-color);
}

.sec-8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-8::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;

  height: 118%;
  background-color: #bbbbcdb3;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}



.sec-8 form input {
width: 100%;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  background-color: rgb(182 178 178 / 59%);
  border: none;
  outline: none;
  transition: .5s;
  caret-color: var(--main-color);
  color: black;
}
.sec-8 form input:focus {
  border-bottom: 1px solid var(--main-color);
}

.sec-8 form textarea {
resize: none;
  height: 113px;
  width: 100%;
  background-color: #c6c4c8;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px 6px;
  border: none;
  outline: none;
}

.sec-8 form input:focus {
  outline: none;
}

.sec-8 form button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: rgb(7, 6, 6);
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.sec-8 form button:hover {
  background-color:#EB0676;
  box-shadow: 0 0 10px #EB0676;
}
select {
  text-transform: none;
  background-color: inherit;
  text-align: center;
}

.sec-8 div:first-child,
.sec-8 div:nth-child(2) {
display: flex;
  align-items: center;
  background-color: #c6c4c8;
  margin: 5px 0;
  padding: 10px 7px;
  border-radius: 7px;
  justify-content: space-between;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;

}

.success,
.cancel {
  width: 100%;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.success button{

}
.slick-prev:before {
 
  right: -6px !important;
  position: absolute;
  z-index: 1000;
  color: black !important;
}
.slick-next:before{
left: -6px !important;
  position: absolute;
  z-index: 1000;
  color: black !important;
}
.slick-prev:before,
.slick-next:before {
  
  top: 50%;
  transform: translateY(-50%);

}
.main-container {
  overflow-x: hidden;
}
.image-container-sec4{
  background-color: #880000;
    border-radius: 50%;
    max-height: 90vh;
    overflow: hidden;
}
.image-container-sec4 img{

}
.div2-sec4 p {
  font-size: 20px;
    font-weight: 600;
}
.svg-div2-sec4{
  padding-top: 3px;
}
.svg-div2-sec4 svg{
font-size: 23px;
}

.div2-sec4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-4 {
  padding: 33px 8px;
}
.sec-4::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #dadadf;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}


.main-container::before {
  
  background-color: #D8BFD8 !important;
 
}
.sec-2::before {
  
  background-color: #E66D3C !important;
 
}
.sec-3::before {
 
  background-color: #FCC54E !important;
 
}
.sec-4::before {
 
  background-color: #E6E33C !important;
 
}

.sec-6::before {
 
  background-color: #35E4FC !important; 
 
}
.sec-8::before {
   
    background-color: #EDA7C2 !important;
    z-index: -2;
  
}
